@font-face {
    font-family: "Inter";
    src: local("Inter"), url("../fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
  }
  @font-face {
    font-family: "Inter";
    src: local("Inter"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
  }
 
